body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    padding: 20px;
    background-color: #081b29;
    
}

.logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #00abf0;
}

.logo span {
    color: #fff;
}

nav {
    display: inline-block;
    float: right;
}

nav a {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.landing {
    background-color: #081b29;
    overflow: hidden; 
    background-image: url(images/new1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 650px;
}

.landing-content {
    
    vertical-align: top;
    padding: 50px;
    box-sizing: border-box;
    white-space: normal; 
}


.landing-content h1 {
    font-size: 36px;
    color: #fff;
}

.landing-content p {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.landing-content p span {
    color: #00abf0;
}

.landing-content h1 span {
    color: #00abf0;
}

.dropdown {
    margin-top: 20px;
    
}

.dropdown select {
    padding: 10px;
    font-size: 16px;
}
.btn{
    display: inline-block;
    margin-top: 150px;
    
    
}

.dropdown button {
    padding: 10px 20px;
    background-color: #00abf0;
    color: #fff;
    border: none;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.landing-image {
  
    width: 100%;
    vertical-align: top; 
    margin: 0;
    padding: 0;
    text-align: right;
}

.landing-image img {
    width: 100%;
   
    object-fit: cover; 
    object-position: center; 
}

.services {
    padding: 50px;
    text-align: center;
    background-color: #081b29;
}

.services h2 {
    font-size: 32px;
    color: #fff;
}

.services h2 span {
    color: #00abf0;
}

.services p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #fff;
}

.service-card {
    display: inline-block;
    width: 30%;
    margin: 1%;
    vertical-align: top;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.service-card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.service-card h3 {
    font-size: 20px;
    color: #00abf0;
}

.service-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #00abf0;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contact {
    padding: 50px;
    background-color:  #081b29;
    text-align: center;
}

.contact h2 span{
    font-size: 32px;
    color: #00abf0;
}

.contact h2 {
    font-size: 32px;
    color: #fff;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #fff;
}

form {
    display: inline-block;
    text-align: left;
    color: #fff;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

form input,
form select {
    display: block;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    background-color: #00abf0;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: #00abf0;
    font-weight: 500;
    padding: 10px 0; 
    text-align: center;
}

